<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="bower_components/snackbarjs/dist/snackbar.min.css" rel="stylesheet">
    <link href="bower_components/snackbarjs/themes-css/material.css" rel="stylesheet">
</head>
<body ng-app="eGMessages">
    <div ng-controller="eGMessageCtrl">
        <button ng-click="showMsg()">show</button>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/snackbarjs/src/snackbar.js"></script>
    <script src="MessageController.js"></script>
    <script src="MessageService.js"></script>


</body>
</html>